
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Inter', sans-serif;;
}

.nav {
  background:linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  padding: 15px;

}

.nav ul {
  display: flex;
  list-style: none; 
  align-items: center;
  padding-right: 43px;
  font-weight: 500;
}

.nav li:first-of-type {
  margin-right: auto;
}


.nav img {
  max-width: 100%;
  height: 50px;
  display: inline-block;
  
}

.nav a {
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

main {
  padding: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap:10px;
  align-items: center;
}

.form div {
  display: flex;
    justify-content: center;
    gap: 25px;
    width: 80%;
    margin: auto;
}

.form div input {
  width: 100%;
  height: 25px;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  text-indent: 5px;
}

.button {
  background:linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #fff;
  width: 80%;
  padding: 14px;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  cursor: pointer;
}

.memeImage {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

.state--value {
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
}